.addProject {
  width: 560px;
  margin: 30px auto 0 auto;
  border: 1px solid #f1f1f1;
  padding: 20px;
  // box-shadow: 0px 0px 20px #f1f1f1;
  .btnbox {
    display: flex;
    justify-content: center;
    .ant-btn {
      width: 130px;
    }
  }
}
