.loginBox{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/imgs/bigbg.jpg") center no-repeat;
  background-size: cover;
}
#components-form-demo-normal-login{
  width: 460px;
  height: 400px;
  background: rgba(255,255,255, 0.85);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  .logo{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    border-radius: 40px;
  }
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
  margin-top: 140px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}