.day {
  color: #52c41a;
  line-height: 20px;
  background: #f6ffed;
  border-color: #b7eb8f;
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin: 2px 4px 2px 0;
  padding: 0 8px;
  border: 1px solid #e8eaec;
  border-radius: 3px;
  font-size: 12px;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;
}
.viewdata {
  font-size: 30px;
}